a {
    text-decoration: none;
    margin: 6px 0px 6px 0px;
}

.grid {
    margin: 0;
}

.module {
    text-align: center;
    color: #eee;
    height: 100%;
    min-width: 120px;
    background-color: #607d8b;
    border-radius: 2px;
  }
.module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}
.grid-pad {
    padding: 10px 0;
}